In [1]:
import pandas as pd

In [2]:
pd.Series([1,2,3,4,5,6])

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [3]:
s = pd.Series([9904312, 3448737, 2890451, 2466052],
              index=["서울", "부산", "인천", "대구"])
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [4]:
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [6]:
s.values

array([9904312, 3448737, 2890451, 2466052], dtype=int64)

In [9]:
s.name="주요도시인구"
s.index.name="도시"
s

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 주요도시인구, dtype: int64

In [10]:
pd.Series(range(10,14))

0    10
1    11
2    12
3    13
dtype: int64

In [11]:
s.name

'주요도시인구'

In [12]:
s/10000

도시
서울    990.4312
부산    344.8737
인천    289.0451
대구    246.6052
Name: 주요도시인구, dtype: float64

In [13]:
s.name="주요도시인구(단위:만)"

In [14]:
s

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 주요도시인구(단위:만), dtype: int64

In [16]:
s[1]

3448737

In [17]:
s["부산"]

3448737

In [18]:
s["대구"]

2466052

In [19]:
s[[0,3,1]]

도시
서울    9904312
대구    2466052
부산    3448737
Name: 주요도시인구(단위:만), dtype: int64

In [20]:
s[["서울","대구","부산"]]

도시
서울    9904312
대구    2466052
부산    3448737
Name: 주요도시인구(단위:만), dtype: int64

In [21]:
s[(250e4<s)&(s<500e4)]

도시
부산    3448737
인천    2890451
Name: 주요도시인구(단위:만), dtype: int64

In [22]:
d=pd.Series(range(3),index=["a","b","c"])
d

a    0
b    1
c    2
dtype: int64

In [23]:
d.a

0

In [24]:
d.c

2

In [28]:
s2 = pd.Series({"서울":9631482, "부산":3393191, "인천":2632035, "대전":1490158})
s2

서울    9631482
부산    3393191
인천    2632035
대전    1490158
dtype: int64

In [29]:
ds=s-s2
ds

대구         NaN
대전         NaN
부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [30]:
ds[ds.notnull()]

부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [31]:
ds.notnull()

대구    False
대전    False
부산     True
서울     True
인천     True
dtype: bool

In [32]:
rs=(s-s2)/s2*100
rs=rs[rs.notnull()]
rs

부산    1.636984
서울    2.832690
인천    9.818107
dtype: float64

In [35]:
rs["대구"]=1.4
rs

부산    1.636984
서울    2.832690
인천    9.818107
대구    1.400000
dtype: float64

In [36]:
a2015=pd.Series([180,160,170,155],
               index=["김","이","박","최"])
a2015

김    180
이    160
박    170
최    155
dtype: int64

In [38]:
a2020=pd.Series([184,172,176,158,190],
               index=["김","이","박","최","손"])
a2020

김    184
이    172
박    176
최    158
손    190
dtype: int64

In [40]:
ds=a2020-a2015
ds

김     4.0
박     6.0
손     NaN
이    12.0
최     3.0
dtype: float64

In [42]:
ds.notnull()

김     True
박     True
손    False
이     True
최     True
dtype: bool

In [43]:
ds[ds.notnull()]

김     4.0
박     6.0
이    12.0
최     3.0
dtype: float64

In [44]:
rs=(a2020-a2015)/a2020*100
rs

김    2.173913
박    3.409091
손         NaN
이    6.976744
최    1.898734
dtype: float64

In [45]:
rs.notnull()

김     True
박     True
손    False
이     True
최     True
dtype: bool

In [47]:
rs[rs.notnull()]

김    2.173913
박    3.409091
이    6.976744
최    1.898734
dtype: float64

In [48]:
nrs=rs[rs.notnull()]

In [49]:
nrs

김    2.173913
박    3.409091
이    6.976744
최    1.898734
dtype: float64

In [52]:
a2015["손"]=180

In [54]:
a2015

김    180
이    160
박    170
최    155
손    180
dtype: int64

In [1]:
import pandas as pd

In [20]:
h2010 = pd.Series([180,290,390],
             index=["김","이","박"])
h2010

김    180
이    290
박    390
dtype: int64

In [6]:
import numpy as np

In [8]:
s=np.arange(10)
s

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [10]:
s=np.arange(12).reshape(3,4)
s

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [11]:
s=np.array([[1,2,3],[4,5,6]])
s

array([[1, 2, 3],
       [4, 5, 6]])

In [21]:
h2010.index

Index(['김', '이', '박'], dtype='object')

In [22]:
h2010.values

array([180, 290, 390], dtype=int64)

In [24]:
h2010.name="키"
h2010.index.name="성"

In [25]:
h2010

성
김    180
이    290
박    390
Name: 키, dtype: int64